<h1><%= @project.name %></h1>
<h3>Material: <%= @project.material %></h3>
<h3>Challenge Theme: <%= @project.challenge.theme %></h3>

<h4>Number of Contestants: <%= @project.contestants.count %></h4>
<h4>Average Contestant Experience: <%= @average_experience %></h4>