<h1>Project Information</h1>
<h2><%= @project.name %></h2>
Material:<%= @project.material %><br>
Challenge Theme:<%= @challenge.theme %>
Number of Contestants: <%= @project.num_of_contestants %>
Average Contestant Experience: <%= @project.avg_experience_of_contestants %> years